<div class="logo">
</div>
<div class="mih-1-2">
  <div class="container products">
    <div class="row gutters">
      <div class="product col span_6">
        <%= image_tag "https://i.imgur.com/Whg7ZR7.jpg" %>
        <p class="ta-c prod-desc"><span>Apple Pie | $20.00</span></p>
      </div>
      <div class="product col span_6">
        <%= image_tag "https://i.imgur.com/krPUWwu.jpg" %>
        <p class="ta-c prod-desc"><span>Pumpkin Pie | $20.00</span></p>
      </div>
    </div>
    <div class="row gutters products">
      <div class="product col span_6">
        <%= image_tag "https://i.imgur.com/zqrGPWB.jpg" %>
        <p class="ta-c prod-desc"><span>Pumpkin Bread | $18.00</span></p>
      </div>
      <div class="product col span_6">
        <%= image_tag "https://imgur.com/iRHyWZK.jpg" %>
        <p class="ta-c prod-desc"><span>Pumpkin Cheese Cake Tart | $25.00</span></p>
      </div>
     <!-- <div class="button-down2">
      <p class="ta-c">Order now</p>
    </div> -->
    </div>
  </div>
</div>
<div class="mih-1-2">
  <div class="container ta-c order-form-container">
    <div class="order-form">
      <p class="ta-c fz-xl"><%= link_to "Taking orders for Thanksgiving now - click here!", new_order_path %></p>
    </div>
  </div>
</div>
