<div class="logo">
</div>
<div class="mih-1-2">
  <div class="container products">
    <div class="row gutters">
      <div class="product col span_6">
        <%= image_tag "http://i.imgur.com/RILCHIn.jpg" %>
        <p class="ta-c prod-desc">Giant Soft Ginger Cookies | $30.00</p>
      </div>
      <div class="product col span_6">
        <%= image_tag "http://i.imgur.com/l258k44.jpg" %>
        <p class="ta-c prod-desc">Grasshopper Pie | $30.00</p>
      </div>
    </div>
    <div class="row gutters products">
      <div class="product col span_6">
        <%= image_tag "http://i.imgur.com/4WBongO.jpg" %>
        <p class="ta-c prod-desc">Pecan Pie | $30.00</p>
      </div>
      <div class="product col span_6">
        <%= image_tag "http://i.imgur.com/g4svat2.jpg" %>
        <p class="ta-c prod-desc">Russian Tea Cake | $20.00</p>
      </div>
    </div>
    <div class="row gutters products">
      <div class="product col span_6">
        <%= image_tag "http://i.imgur.com/xvC6euC.jpg" %>
        <p class="ta-c prod-desc">Chocolate Crinkle Cookies | $20.00</p>
      </div>
      <div class="product col span_6">
        <%= image_tag "http://i.imgur.com/VWtToyP.jpg" %>
        <p class="ta-c prod-desc">White Chocolate and Cranberry Log Cookies | $20.00</p>
      </div>
    </div>
  </div>
</div>
<div class="ta-c order-form-container">
  <div class="order-form">
    <p class="ta-c fz-xl taking-orders"><%= link_to "Taking orders for Christmas now - click here!", new_order_path %></p>
  </div>
</div>
