<!DOCTYPE html>
<html>
<head>
  <title>Buttermeupsweets</title>
  <%= stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext", media: "all"  %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<% flash.each do |name, msg| %>
  <%= content_tag :p, msg, class: "#{name} ta-c" %>
<% end -%>
</div>
<%= yield %>
</body>
</html>
